---
layout: default.hbs
---

<!-- jQuery - loading first -->
<script src="{{assets}}/jquery/jquery.js"></script>
<script src="{{assets}}/json-editor/jsoneditor.js"></script>

<!-- third-party script libraries -->
<script async src="{{assets}}/Blob/js/Blob.js"></script>
<script async src="{{assets}}/FileSaver/js/FileSaver.min.js"></script>
<script src="{{assets}}/filedrop/filedrop.js"></script>

<!-- custom application script -->
<script src="{{assets}}/jsoneditor-common.js"></script>

<p class="well">Drop a matching JSON file anywhere on this page to open it.</p>

<button class="btn btn-default" id="actionSaveFile">Save file</a>

{{> body }}

<div id="editor_holder"></div>

<!-- Modal File Open dialog, used as a drop status indicator -->
<div class="modal fade" id="file_open" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Drop JSON file to open
      </div>
    </div>
  </div>
</div>
